/* LEFT BAR */
#left-bar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 30%;
	z-index: 99;
	background: darken(white,15%);
	padding: 7% 5%;

	@include breakpoint(portrait) {
		position: relative;
		bottom: auto;
		width: 100%;
		padding: 5% 20%;
	}
	@include breakpoint(mobile) {
		position: relative;
		bottom: auto;
		width: 100%;
		padding: 7% 10% 5%;
	}

	img {
		position: relative;
		z-index: 50;

		@include breakpoint(portrait) {
			width: 50%;
			margin: 0 auto;
		}
		@include breakpoint(mobile) {
			width: 60%;
			margin: 0 auto;
		}
	}

	#social-links {
		width: 100%;
		text-align: center;
		padding-top: 15%;
		z-index: 50;
		position: relative;
		margin-left: 0;
		margin-bottom: 0;

		@include breakpoint(portrait) {
			@include rem(padding-top,1.5rem);
		}
		@include breakpoint(mobile) {
			@include rem(padding-top,1.5rem);
		}

		li {
			display: inline-block;
			@include rem(padding-left,0.25rem);
			@include rem(padding-right,0.25rem);
			@include rem(padding-bottom,0.25rem);
			margin-bottom: 0;

			a {
				text-decoration: none;
				display: block;
				@include rem(width,1.75rem);
				@include rem(height,1.75rem);
				background: lighten(black,10%);
				color: white;
				-webkit-font-smoothing: antialiased;
				text-align: center;
				@include rem(font-size,0.75rem);
				@include rem(line-height,1.75rem);
				@include border-radius(100%);
				@include transition(background 0.15s);

				&:hover {
					background: $primary;
				}
			}
		}
	}

	.bkg-image {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		display: block;
		background: blue;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-repeat:no-repeat;
		background-size: cover;
		background-position: center center;
		@include filter(grayscale(50%));
		@include opacity(0.2);
		@include transition(0.15s);
		@include backface-visibility(hidden);
		border-right: 1px solid rgba(black,0.85);

		@include breakpoint(portrait) {
			border-right: 0;
			border-bottom: 1px solid rgba(black,0.85);
		}
		@include breakpoint(mobile) {
			border-right: 0;
			border-bottom: 1px solid rgba(black,0.85);
		}
	}

	&:hover {
		.bkg-image {
			@include filter(grayscale(35%));
			@include opacity(0.25);
		}
	}
}
