/* PAGINATION */
#pagination {
	@include rem(padding-top,5rem);
	width: 100%;

	.newer-posts {
		float: left;
	}

	.older-posts {
		float: right;
	}

	.page-number {
                display:none;
        }
}
